<div class="video-player">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" ng-src="{{ $ctrl.cv.id.videoId + '?autoplay=' + $ctrl.autoPlay | youtubeEmbedUrl }}" allowFullScreen></iframe>
  </div>
  <div class="video-player-details">
    <h3>{{$ctrl.cv.snippet.title}}</h3>
    <div>{{$ctrl.cvFullDetails || $ctrl.cv.snippet.description}}</div>
    <p class="show-more" ng-click="$ctrl.getFullDetails()">{{($ctrl.cvFullDetails ? '' : 'Show More')}}</p>
  </div>
</div>
